%h1 Workout of the Day Generator
= link_to "view exercises", exercises_path, class: 'btn btn-default'
= link_to "view equipment", equipment_index_path, class: 'btn btn-default'
= link_to "new workout", new_workout_path, class: 'btn btn-primary'
